table {
    border-collapse: collapse;
}

body {
    background-color:#444444;
}
table td {
    border: 2px solid #000000;
}
table tr {
    border: 2px solid #000000;
    color:#FF8D00;
}
p{
    color: #FF5C00;
    font-size: 2Opx;    
}

